Node_red flow.json
[{"id":"d1e827bd.ecc778","type":"tab","label":"wattblock","disabled":false,"info":""},{"id":"1966c2c3.a73f6d","type":"inject","z":"d1e827bd.ecc778","name":"","topic":"","payload":"{\"intents\":[{\"intent\":\"Collect_address\",\"examples\":[{\"text\":\"1 Main St Boxhill\",\"mentions\":[{\"entity\":\"suburb_address\",\"location\":[10,17]},{\"entity\":\"street_address\",\"location\":[0,9]}]},{\"text\":\"322 Coventry St South Melbourne\",\"mentions\":[{\"entity\":\"suburb_address\",\"location\":[16,31]},{\"entity\":\"street_address\",\"location\":[0,15]}]},{\"text\":\"14 Inkerman St Fitzory\",\"mentions\":[{\"entity\":\"suburb_address\",\"location\":[15,22]},{\"entity\":\"street_address\",\"location\":[0,14]}]},{\"text\":\"12 Goulburn St Haymarket\",\"mentions\":[{\"entity\":\"suburb_address\",\"location\":[15,24]},{\"entity\":\"street_address\",\"location\":[0,14]}]},{\"text\":\"78 Page St Botany\",\"mentions\":[{\"entity\":\"suburb_address\",\"location\":[11,17]},{\"entity\":\"street_address\",\"location\":[0,10]}]},{\"text\":\"My address is 12 Latrobe St Kingston\",\"mentions\":[{\"entity\":\"suburb_address\",\"location\":[28,36]}]},{\"text\":\"I live at 556 Heidelberg Rd Ivanhoe\",\"mentions\":[{\"entity\":\"suburb_address\",\"location\":[28,35]},{\"entity\":\"street_address\",\"location\":[10,27]}]},{\"text\":\"I live at 123 Bell St Kingston\",\"mentions\":[{\"entity\":\"suburb_address\",\"location\":[22,30]},{\"entity\":\"street_address\",\"location\":[10,21]}]},{\"text\":\"76 Collins St Collingwood\",\"mentions\":[{\"entity\":\"suburb_address\",\"location\":[14,25]},{\"entity\":\"street_address\",\"location\":[0,13]}]},{\"text\":\"680 Swanston St Carlton\",\"mentions\":[{\"entity\":\"suburb_address\",\"location\":[16,23]},{\"entity\":\"street_address\",\"location\":[0,15]}]},{\"text\":\"43 King St Newtown\",\"mentions\":[{\"entity\":\"suburb_address\",\"location\":[11,18]},{\"entity\":\"street_address\",\"location\":[0,10]}]}],\"description\":\"\"},{\"intent\":\"No\",\"examples\":[{\"text\":\"nope\"},{\"text\":\"Sorry, I don't want to.\"},{\"text\":\"Nah\"},{\"text\":\"no\"}],\"description\":\"\"},{\"intent\":\"Goodbyes\",\"examples\":[{\"text\":\"talk to you later\"},{\"text\":\"see you\"},{\"text\":\"c ya\"},{\"text\":\"byebye\"},{\"text\":\"bye\"},{\"text\":\"good bye\"}]},{\"intent\":\"Greetings\",\"examples\":[{\"text\":\"hello\"},{\"text\":\"hi\"},{\"text\":\"hey\"},{\"text\":\"good morning\"},{\"text\":\"Hello!\"},{\"text\":\"Hi!\"},{\"text\":\"kia ora\"},{\"text\":\"Hey!\"},{\"text\":\"good afternoon\"}],\"description\":\"\"},{\"intent\":\"About_Wattblock\",\"examples\":[{\"text\":\"If I want to install solar panel in my residents,Should I contact the company Wattblock?\"},{\"text\":\"What are the work done by Wattblock?\"},{\"text\":\"What does your company do?\"},{\"text\":\"How can Wattblock help me?\"},{\"text\":\"What is the URL of Wattblock?\"},{\"text\":\"Do you have new products?\"},{\"text\":\"What is Wattblock official website?\"},{\"text\":\"What is the price of solar system?\"},{\"text\":\"Is Wattblock really solar installation company?\"}],\"description\":\"Other questions about Wattblock\"},{\"intent\":\"Refer_A_Neighbour\",\"examples\":[{\"text\":\"Who can be my neighbour?\"},{\"text\":\"Does my neighbour will be fine if I add him without his permission?\"},{\"text\":\"tenent\"},{\"text\":\"I don't know my neighbour.\"},{\"text\":\"Is it fine if I don't want to refer my neighbour?\"},{\"text\":\"I want to share with my neighbours.\"},{\"text\":\"Who is my neighbour?\"},{\"text\":\"Can I add my friend in?\"},{\"text\":\"Can I let my neighbour join in the group?\"},{\"text\":\"Can I invite my neighbour in the group?\"},{\"text\":\"How can I share with my neighbour?\"},{\"text\":\"How can I add my neighbour?\"}],\"description\":\"\"},{\"intent\":\"Thank_you\",\"examples\":[{\"text\":\"appreciate it\"},{\"text\":\"thanks\"},{\"text\":\"thx\"},{\"text\":\"cheers\"},{\"text\":\"thank you\"}]},{\"intent\":\"Yes\",\"examples\":[{\"text\":\"yes\"},{\"text\":\"yeah sure\"}],\"description\":\"\"},{\"intent\":\"Create_account\",\"examples\":[{\"text\":\"I need to modify my account.\"},{\"text\":\"I need to delete my account.\"},{\"text\":\"tenant\"},{\"text\":\"I want to have an account.\"},{\"text\":\"I want to register.\"},{\"text\":\"I want to sign up.\"},{\"text\":\"Can I have my account?\"},{\"text\":\"Can I create an account?\"},{\"text\":\"I forgot my password.\"},{\"text\":\"Can I create my account?\"},{\"text\":\"How can I create my account?\"},{\"text\":\"I want to log in my account.\"},{\"text\":\"what is benefits of making account?\"},{\"text\":\"How can I sign-up ?\"},{\"text\":\"My account has expired\"},{\"text\":\"I need new account.\"}],\"description\":\"\"}],\"entities\":[{\"entity\":\"suburb_address\",\"values\":[{\"type\":\"synonyms\",\"value\":\"Botany\",\"synonyms\":[]},{\"type\":\"synonyms\",\"value\":\"Carlton\",\"synonyms\":[]},{\"type\":\"synonyms\",\"value\":\"Newtown\",\"synonyms\":[]},{\"type\":\"synonyms\",\"value\":\"Ivanhoe\",\"synonyms\":[]},{\"type\":\"synonyms\",\"value\":\"Kingston\",\"synonyms\":[]},{\"type\":\"synonyms\",\"value\":\"Collingwood\",\"synonyms\":[]},{\"type\":\"synonyms\",\"value\":\"South Melbourne\",\"synonyms\":[]},{\"type\":\"synonyms\",\"value\":\"Boxhill\",\"synonyms\":[]},{\"type\":\"synonyms\",\"value\":\"Haymarket\",\"synonyms\":[]},{\"type\":\"synonyms\",\"value\":\"Fitzory\",\"synonyms\":[]}],\"fuzzy_match\":true},{\"entity\":\"identify\",\"values\":[{\"type\":\"synonyms\",\"value\":\"owner\",\"synonyms\":[\"owners\",\"landlord\"]},{\"type\":\"synonyms\",\"value\":\"tenant\",\"synonyms\":[\"tenants\",\"renter\",\"tenancy\",\"occupier\"]},{\"type\":\"synonyms\",\"value\":\"strata manager\",\"synonyms\":[]}],\"fuzzy_match\":true},{\"entity\":\"response\",\"values\":[{\"type\":\"synonyms\",\"value\":\"no\",\"synonyms\":[\"nope\"]},{\"type\":\"synonyms\",\"value\":\"yes\",\"synonyms\":[\"yeah, yep\"]}],\"fuzzy_match\":true},{\"entity\":\"email\",\"values\":[{\"type\":\"patterns\",\"value\":\"email\",\"patterns\":[\"\\\\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\\\.[A-Za-z]{2,}\\\\b\"]}],\"fuzzy_match\":true},{\"entity\":\"street_address\",\"values\":[{\"type\":\"synonyms\",\"value\":\"12 Goulburn St\",\"synonyms\":[]},{\"type\":\"synonyms\",\"value\":\"43 King St\",\"synonyms\":[]},{\"type\":\"synonyms\",\"value\":\"322 Coventry St\",\"synonyms\":[]},{\"type\":\"synonyms\",\"value\":\"14 Inkerman St\",\"synonyms\":[]},{\"type\":\"synonyms\",\"value\":\"1 Main St\",\"synonyms\":[]},{\"type\":\"synonyms\",\"value\":\"123 Bell St\",\"synonyms\":[]},{\"type\":\"synonyms\",\"value\":\"78 Page St\",\"synonyms\":[]},{\"type\":\"synonyms\",\"value\":\"76 Collins St\",\"synonyms\":[]},{\"type\":\"synonyms\",\"value\":\"680 Swanston St\",\"synonyms\":[]},{\"type\":\"synonyms\",\"value\":\"556 Heidelberg Rd\",\"synonyms\":[]}],\"fuzzy_match\":true}],\"metadata\":{\"api_version\":{\"major_version\":\"v2\",\"minor_version\":\"2018-11-08\"}},\"dialog_nodes\":[{\"type\":\"frame\",\"title\":\"Collect_Address\",\"output\":{\"generic\":[{\"values\":[{\"text\":\"Perfect! You have registered. Here is the link of WhatsApp chat group. Hope you join us! https://chat.whatsapp.com/CyT6QJdGyQ5GNH5pYWJWNS\"}],\"response_type\":\"text\",\"selection_policy\":\"sequential\"}]},\"parent\":\"node_4_1594318488107\",\"conditions\":\"#Collect_address\",\"dialog_node\":\"node_2_1594378515318\",\"previous_sibling\":\"node_10_1594318675065\"},{\"type\":\"frame\",\"title\":\"Collect_info\",\"parent\":\"node_4_1594318488107\",\"metadata\":{\"_customization\":{\"mcr\":true}},\"next_step\":{\"behavior\":\"jump_to\",\"selector\":\"user_input\",\"dialog_node\":\"node_2_1594378515318\"},\"conditions\":\"#Create_account\",\"dialog_node\":\"node_10_1594318675065\"},{\"type\":\"slot\",\"output\":{},\"parent\":\"node_2_1594378515318\",\"variable\":\"$suburb_address\",\"dialog_node\":\"slot_6_1594378605485\",\"previous_sibling\":\"slot_4_1594378581962\"},{\"type\":\"slot\",\"parent\":\"node_2_1594378515318\",\"variable\":\"$street_address\",\"dialog_node\":\"slot_4_1594378581962\"},{\"type\":\"response_condition\",\"output\":{\"generic\":[{\"values\":[{\"text\":\"Could you please send the link to your owner?\"}],\"response_type\":\"text\",\"selection_policy\":\"sequential\"}]},\"parent\":\"node_2_1594354093048\",\"conditions\":\"@identify:tenant\",\"dialog_node\":\"response_3_1594359085241\",\"previous_sibling\":\"slot_10_1594357674983\"},{\"type\":\"standard\",\"title\":\"if_residential_owner\",\"parent\":\"node_2_1594354093048\",\"metadata\":{\"_customization\":{\"mcr\":true}},\"conditions\":\"@identify:owner || @response\",\"dialog_node\":\"node_1_1594360965090\",\"previous_sibling\":\"node_6_1594360863851\"},{\"type\":\"response_condition\",\"output\":{\"generic\":[{\"values\":[{\"text\":\"Are you a member of the residential group?\"}],\"response_type\":\"text\",\"selection_policy\":\"sequential\"}]},\"parent\":\"node_2_1594354093048\",\"conditions\":\"@identify:owner\",\"dialog_node\":\"response_9_1594359131248\",\"previous_sibling\":\"response_3_1594359085241\"},{\"type\":\"slot\",\"output\":{},\"parent\":\"node_2_1594354093048\",\"variable\":\"$identify\",\"dialog_node\":\"slot_10_1594357674983\",\"previous_sibling\":\"node_1_1594360965090\"},{\"type\":\"standard\",\"title\":\"if_tenant\",\"parent\":\"node_2_1594354093048\",\"metadata\":{\"_customization\":{\"mcr\":true}},\"conditions\":\"@identify:tenant || @response\",\"dialog_node\":\"node_6_1594360863851\"},{\"type\":\"frame\",\"title\":\"User_identify\",\"parent\":\"node_6_1594354028801\",\"metadata\":{\"_customization\":{\"mcr\":true}},\"conditions\":\"#Refer_A_Neighbour\",\"dialog_node\":\"node_2_1594354093048\"},{\"type\":\"event_handler\",\"output\":{\"text\":{\"values\":[\"Could you please tell me your identification? Are you a tenant or a residential owner?\"],\"selection_policy\":\"sequential\"}},\"parent\":\"slot_10_1594357674983\",\"event_name\":\"focus\",\"dialog_node\":\"handler_6_1594357674999\",\"previous_sibling\":\"handler_10_1594357674999\"},{\"type\":\"event_handler\",\"output\":{\"text\":{\"values\":[\"\"],\"selection_policy\":\"sequential\"}},\"parent\":\"slot_10_1594357674983\",\"conditions\":\"\",\"event_name\":\"nomatch\",\"dialog_node\":\"handler_5_1594360321034\",\"previous_sibling\":\"handler_7_1594360266118\"},{\"type\":\"event_handler\",\"output\":{\"text\":{\"values\":[\"\"],\"selection_policy\":\"sequential\"}},\"parent\":\"slot_10_1594357674983\",\"conditions\":\"\",\"event_name\":\"nomatch\",\"dialog_node\":\"handler_7_1594360266118\",\"previous_sibling\":\"handler_6_1594357674999\"},{\"type\":\"event_handler\",\"output\":{},\"parent\":\"slot_10_1594357674983\",\"context\":{\"identify\":\"@identify\"},\"conditions\":\"@identify\",\"event_name\":\"input\",\"dialog_node\":\"handler_10_1594357674999\"},{\"type\":\"response_condition\",\"output\":{\"generic\":[{\"values\":[{\"text\":\"Thank you for chatting with Wattblock today, if you want to join us in the future, please either contact us via this chatbot or via our official website: https://www.wattblock.com/\"}],\"response_type\":\"text\",\"selection_policy\":\"sequential\"}]},\"parent\":\"node_6_1594360863851\",\"conditions\":\"#No\",\"dialog_node\":\"response_10_1594360908406\",\"previous_sibling\":\"response_6_1594445638270\"},{\"type\":\"response_condition\",\"output\":{\"generic\":[{\"values\":[{\"text\":\"Perfect! Here is our QR code/link for the messenger group\"}],\"response_type\":\"text\",\"selection_policy\":\"sequential\"}]},\"parent\":\"node_6_1594360863851\",\"conditions\":\"#Yes\",\"dialog_node\":\"response_6_1594445638270\"},{\"type\":\"event_handler\",\"output\":{\"text\":{\"values\":[\"May I have your street address please?\"],\"selection_policy\":\"sequential\"}},\"parent\":\"slot_4_1594378581962\",\"event_name\":\"focus\",\"dialog_node\":\"handler_10_1594378581976\",\"previous_sibling\":\"handler_8_1594378581976\"},{\"type\":\"event_handler\",\"output\":{},\"parent\":\"slot_4_1594378581962\",\"context\":{\"street_address\":\"@street_address\"},\"conditions\":\"@street_address\",\"event_name\":\"input\",\"dialog_node\":\"handler_8_1594378581976\"},{\"type\":\"standard\",\"title\":\"Thankyou\",\"output\":{\"generic\":[{\"values\":[{\"text\":\"You're welcome.  Please let me know if you need anything else.\"},{\"text\":\"My pleasure.\"},{\"text\":\"No problem. Let me know if there is anything else I can help with.\"},{\"text\":\"I aim to please.\"}],\"response_type\":\"text\",\"selection_policy\":\"sequential\"}]},\"parent\":\"node_2_1594317329821\",\"conditions\":\"#thank_you\",\"dialog_node\":\"node_9_1594317874363\",\"previous_sibling\":\"node_8_1594317564194\"},{\"type\":\"standard\",\"title\":\"Goodbyes\",\"output\":{\"generic\":[{\"values\":[{\"text\":\"Catch ya later! Thanks for chatting.\"},{\"text\":\"Nice talking to you today.\"},{\"text\":\"Have a nice day.\"},{\"text\":\"Goodbye.\"}],\"response_type\":\"text\",\"selection_policy\":\"random\"}]},\"parent\":\"node_2_1594317329821\",\"conditions\":\"#goodbyes\",\"dialog_node\":\"node_8_1594317564194\",\"previous_sibling\":\"node_1_1594317393175\"},{\"type\":\"standard\",\"title\":\"Greetings\",\"output\":{\"generic\":[{\"values\":[{\"text\":\"Hi! Welcome to Wattblock chatbot! How can I help you today?\"},{\"text\":\"Hi there. How can I help you?\"},{\"text\":\"Hello. How may I assist you today?\"},{\"text\":\"Hi. What can I help you with?\"}],\"response_type\":\"text\",\"selection_policy\":\"sequential\"}]},\"parent\":\"node_2_1594317329821\",\"conditions\":\"#Greetings\",\"dialog_node\":\"node_1_1594317393175\"},{\"type\":\"event_handler\",\"output\":{\"text\":{\"values\":[\"Hmm I didn't detect your identification. Please tell me you are owner or tenant.\"],\"selection_policy\":\"sequential\"}},\"parent\":\"slot_7_1594352856373\",\"event_name\":\"nomatch\",\"dialog_node\":\"handler_5_1594363400273\",\"previous_sibling\":\"handler_4_1594352856378\"},{\"type\":\"event_handler\",\"output\":{\"text\":{\"values\":[\"Is that possible to get your identification? Are you tenant, owners or strata manager?\"],\"selection_policy\":\"sequential\"}},\"parent\":\"slot_7_1594352856373\",\"event_name\":\"focus\",\"dialog_node\":\"handler_4_1594352856378\",\"previous_sibling\":\"handler_3_1594352856378\"},{\"type\":\"event_handler\",\"output\":{},\"parent\":\"slot_7_1594352856373\",\"context\":{\"identify\":\"@identify\"},\"conditions\":\"@identify\",\"event_name\":\"input\",\"dialog_node\":\"handler_3_1594352856378\"},{\"type\":\"response_condition\",\"output\":{\"generic\":[{\"values\":[{\"text\":\"Perfect! You can add other owners or your friends who lives here now! Here is the QR code for the messenger group!\"}],\"response_type\":\"text\",\"selection_policy\":\"sequential\"}]},\"parent\":\"node_1_1594360965090\",\"conditions\":\"#No\",\"dialog_node\":\"response_9_1594445864306\",\"previous_sibling\":\"response_3_1594360989732\"},{\"type\":\"response_condition\",\"output\":{\"generic\":[{\"values\":[{\"text\":\"Do you want to sign up? Please provide us your email address\"}],\"response_type\":\"text\",\"selection_policy\":\"sequential\"}]},\"parent\":\"node_1_1594360965090\",\"conditions\":\"#Yes\",\"dialog_node\":\"response_3_1594360989732\"},{\"type\":\"slot\",\"output\":{},\"parent\":\"node_10_1594318675065\",\"variable\":\"$identify\",\"dialog_node\":\"slot_7_1594352856373\",\"previous_sibling\":\"response_3_1594378436051\"},{\"type\":\"slot\",\"output\":{},\"parent\":\"node_10_1594318675065\",\"variable\":\"$email\",\"dialog_node\":\"slot_2_1594318728399\",\"previous_sibling\":\"slot_7_1594352856373\"},{\"type\":\"response_condition\",\"output\":{\"generic\":[{\"values\":[{\"text\":\"Perfect! Can I have your street address please?\"}],\"response_type\":\"text\",\"selection_policy\":\"sequential\"}]},\"parent\":\"node_10_1594318675065\",\"dialog_node\":\"response_3_1594378436051\"},{\"type\":\"event_handler\",\"output\":{\"text\":{\"values\":[\"What is your suburb address?\"],\"selection_policy\":\"sequential\"}},\"parent\":\"slot_6_1594378605485\",\"event_name\":\"focus\",\"dialog_node\":\"handler_7_1594378605489\",\"previous_sibling\":\"handler_1_1594378605489\"},{\"type\":\"event_handler\",\"output\":{},\"parent\":\"slot_6_1594378605485\",\"context\":{\"suburb_address\":\"@suburb_address\"},\"conditions\":\"@suburb_address\",\"event_name\":\"input\",\"dialog_node\":\"handler_1_1594378605489\"},{\"type\":\"standard\",\"title\":\"other_problems\",\"output\":{\"generic\":[{\"source\":\"https://startupgalaxy.com.au/businesses/wattblock/logo.png?t=1508276810&size=Profile\",\"response_type\":\"image\"},{\"values\":[{\"text\":\" Here is the website  https://www.wattblock.com\"}],\"response_type\":\"text\",\"selection_policy\":\"sequential\"}]},\"parent\":\"node_5_1594359378746\",\"conditions\":\"true\",\"dialog_node\":\"node_7_1594361001441\"},{\"type\":\"event_handler\",\"output\":{\"text\":{\"values\":[\"May I have your email please?\"],\"selection_policy\":\"sequential\"}},\"parent\":\"slot_2_1594318728399\",\"event_name\":\"focus\",\"dialog_node\":\"handler_3_1594318728405\",\"previous_sibling\":\"handler_4_1594318728405\"},{\"type\":\"event_handler\",\"output\":{\"text\":{\"values\":[\"Hmm I didn't detect your email. Could you please tell me your email?\"],\"selection_policy\":\"sequential\"}},\"parent\":\"slot_2_1594318728399\",\"event_name\":\"nomatch\",\"dialog_node\":\"handler_7_1594385837407\",\"previous_sibling\":\"handler_3_1594318728405\"},{\"type\":\"event_handler\",\"output\":{},\"parent\":\"slot_2_1594318728399\",\"context\":{\"email\":\"@email\"},\"conditions\":\"@email\",\"event_name\":\"input\",\"dialog_node\":\"handler_4_1594318728405\"},{\"type\":\"folder\",\"title\":\"Invite_neighbours\",\"conditions\":\"#Refer_A_Neighbour\",\"digress_in\":\"does_not_return\",\"dialog_node\":\"node_6_1594354028801\",\"previous_sibling\":\"node_4_1594318488107\"},{\"type\":\"folder\",\"title\":\"other problems for Wattblock\",\"conditions\":\"#About_Wattblock\",\"digress_in\":\"does_not_return\",\"dialog_node\":\"node_5_1594359378746\",\"previous_sibling\":\"node_6_1594354028801\"},{\"type\":\"standard\",\"dialog_node\":\"node_4_1594359430648\",\"previous_sibling\":\"Welcome\"},{\"type\":\"folder\",\"title\":\"Create_Account\",\"conditions\":\"#Create_account\",\"digress_in\":\"returns\",\"dialog_node\":\"node_4_1594318488107\",\"previous_sibling\":\"node_2_1594317329821\"},{\"type\":\"folder\",\"title\":\"General\",\"digress_in\":\"does_not_return\",\"dialog_node\":\"node_2_1594317329821\",\"previous_sibling\":\"node_4_1594359430648\"},{\"type\":\"standard\",\"title\":\"Anything else\",\"output\":{\"generic\":[{\"values\":[{\"text\":\"I didn't understand. You can try rephrasing.\"},{\"text\":\"Can you reword your statement? I'm not understanding.\"},{\"text\":\"I didn't get your meaning.\"},{\"text\":\"It looks like we are not quite getting each other today. Would you like to\\ntalk to a human agent instead? If so, please contact us at (02) 9977 1801 or\\nemail us directly from our website: https://www.wattblock.com/.\"}],\"response_type\":\"text\",\"selection_policy\":\"sequential\"}]},\"conditions\":\"anything_else\",\"dialog_node\":\"Anything else\",\"previous_sibling\":\"node_5_1594359378746\",\"disambiguation_opt_out\":true},{\"type\":\"standard\",\"title\":\"Welcome\",\"output\":{\"generic\":[{\"values\":[{\"text\":\"Hello. My name is Wattblock and I'm a chatbot here to assist you with your\\nquestions about log-in, invitation, as well as other informations about Wattblock.\"},{\"text\":\"\"}],\"response_type\":\"text\",\"selection_policy\":\"sequential\"}]},\"conditions\":\"welcome\",\"dialog_node\":\"Welcome\"}],\"counterexamples\":[{\"text\":\"hayleyzzn@gmail.com\"}],\"system_settings\":{\"off_topic\":{\"enabled\":true},\"disambiguation\":{\"prompt\":\"I did not understand what you mean. Please rephrase your question.\",\"enabled\":true,\"randomize\":true,\"max_suggestions\":5,\"suggestion_text_policy\":\"title\",\"none_of_the_above_prompt\":\"You got wrong. I didn't mean that.\"},\"system_entities\":{\"enabled\":true},\"human_agent_assist\":{\"prompt\":\"Did you mean:\"},\"spelling_auto_correct\":true},\"learning_opt_out\":false,\"name\":\"Wattblock-Refer-A-Neighbour\",\"language\":\"en\",\"description\":\"MARK5826-T17A-TEAM1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":220,"wires":[["29f112d2.635cae"]]},{"id":"5851567a.5453d8","type":"link in","z":"d1e827bd.ecc778","name":"","links":["29f112d2.635cae","629bdaa.ba34f24","18caf0.1428d511"],"x":475,"y":160,"wires":[["5c1624c7.3fa8bc"]]},{"id":"29f112d2.635cae","type":"link out","z":"d1e827bd.ecc778","name":"","links":["21cc75d.ef3718a","5851567a.5453d8","b9628b1e.a19858"],"x":395,"y":180,"wires":[]},{"id":"5c1624c7.3fa8bc","type":"debug","z":"d1e827bd.ecc778","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":180,"wires":[]}]